/* CoffeePot */

.cmdsynopsis .arg {
    white-space: nowrap;
}

.revadded, .revchanged {
  background-color: inherit;
  color: inherit;
  border-right: 3px solid var(--revadded-background-color);
  padding-right: 1em;
}

.revadded::before, .revchanged::before {
  content: none;
}

.revadded::after, .revchanged::after {
  content: none;
}

